---
layout: default
banner-image: /assets/images/gb-images/about-banner.jpg
banner-position: 50% 50%
---

<!--------- pulling in header banner ------>

<!--------- images grid --------->

<!-------WHY IS THE SSPACING OFF AND IMAGES OVERLAPPING -------->

<!-- <section class="p-10p bg-light-gold">
    <div class="min-h-50 grid grid-cols-3 gap-36">
        <div style="background-image: url(/assets/images/gb-images/food-prep-1.jpg)" class="min-h-50 aspect-square bg-cover bg-center bg-dark bg-blend-overlay"></div>
        <div style="background-image: url(/assets/images/gb-images/food-prep-2.jpg)" class="min-h-50 aspect-square bg-cover bg-center bg-dark bg-blend-overlay"></div>
        <div style="background-image: url(/assets/images/gb-images/food-prep-3.jpg)" class="min-h-50 aspect-square bg-cover bg-center bg-dark bg-blend-overlay">
        </div>
    </div>
</section> -->

<!------- Can i input scrolling text javascript -->

<!-------- About section ---------->

<section class="bg-dark text-white pr-10p border-t-[2rem] border-t-light-gold">
    <div class="">
        <div class="grid grid-cols-2 gap-16 h-50">
            <div>
                <div style="background-image: url(/assets/images/gb-images/chef-portrait.jpg)" class="aspect-portrait bg-cover bg-center "></div>
            </div>
            <div class="pt-10p px-10p pb-5p">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat vitae quo odit ullam exercitationem dolore beatae aspernatur sunt error explicabo est molestias accusantium, veritatis nihil molestiae! Esse quibusdam placeat magnam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sapiente ducimus maxime ipsa fugiat qui animi quidem sequi consectetur fuga. Ipsam maxime dolorum asperiores harum quas doloremque sed! Sed, amet. orem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat vitae quo odit ullam exercitationem dolore beatae aspernatur sunt error explicabo est molestias accusantium, veritatis nihil molestiae! Esse quibusdam placeat magnam!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit nemo eveniet numquam delectus illum impedit alias nisi eum minus. Blanditiis ipsum commodi saepe odio quo minima ab laborum! Architecto, magni. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sapiente ducimus maxime ipsa fugiat qui animi quidem sequi consectetur fuga. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tenetur laborum consequuntur distinctio beatae ad maxime minus sit! Modi officia, tenetur aspernatur maxime sed temporibus non quaerat quasi sit in. tenetur aspernatur maxime sed temporibus non quaerat quasi sit in tenetur aspernatur maxime sed temporibus non quaerat quasi sit in. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora aspernatur quibusdam consectetur officiis quidem vitae distinctio minima nesciunt error animi molestiae necessitatibus, exercitationem consequuntur placeat repellendus dicta? Tenetur, ipsum iure?</p>
            </div>
        </div>
        <div class="pl-10p pr-2p pb-10p">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi nam exercitationem repellendus corrupti ratione eum quisquam ab accusamus fugit cum dignissimos illo modi ut, quia delectus debitis ipsam vero.  Vel nisi nam exercitationem repellendus corrupti ratione eum quisquam ab accusamus fugit cum dignissimos illo modi ut, quia delectus debitis ipsam vero. Ipsam maxime dolorum asperiores harum quas doloremque sed! Sed, amet. Ipsam maxime dolorum asperiores harum quas doloremque sed! Sed, amet.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi nam exercitationem repellendus corrupti ratione eum quisquam ab accusamus fugit cum dignissimos illo modi ut, quia delectus debitis ipsam vero.  Vel nisi nam exercitationem repellendus corrupti ratione eum quisquam ab accusamus fugit cum dignissimos illo modi ut, quia delectus debitis ipsam vero. Ipsam maxime dolorum asperiores harum quas doloremque sed! Sed, amet. Ipsam maxime dolorum asperiores harum quas doloremque sed! Sed, amet.</p>
        </div>
    </div>
</section>

<!------------ Enquire from includes ---------->

{% include enquire.html %}

<!-------- Food style section --------->

<section class="pl-10p bg-dark">
    <div class="grid grid-cols-2 gap-36 text-white ">
        <div class="">
            <h2 class="mt-15p">Food <span class="text-gold">style</span> & influences</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe id accusamus perspiciatis dolore temporibus laudantium, mollitia exercitationem eum laborum aliquid quae doloribus molestiae optio sunt cumque blanditiis sapiente inventore dolorum? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere architecto corporis reiciendis, incidunt laborum mollitia enim dolor quod nisi at, in magni quo quos veritatis. Illum libero inventore nihil eveniet.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa non ullam incidunt, laboriosam deserunt iure, delectus dolor assumenda sunt molestias, a dicta laudantium. Distinctio repellendus nostrum libero hic . Illo sapiente fuga ducimus error laborum quia tempora earum eligendi tempore vitae. Animi cupiditate illum necessitatibus inventore modi laudantium unde non sint. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta numquam aliquam at iusto? Sequi facere atque, omnis pariatur, nulla vel dolorum quae adipisci eligendi voluptatibus iste praesentium necessitatibus, est id! Quaerat v, ipsum dolor sit amet consectetur adipisicing elit. Adipisci exercitationem sunt deserunt corporis provident iure similique tempore!
            </p>
        </div>
        <div style="background-image: url(/assets/images/gb-images/food-style.jpg)" class="bg-cover bg-center min-h-70 w-full aspect-portrait pr-10p"></div>
    </div>
</section>

<!--------------- FAQ section -------------->

<section class="bg-light-gold p-5p">
    <div class="p-5p">
        <h3 class="text-center text-dark font-semibold pb-8">Random <span class="text-gold">Facts</span></h3>
        {% for item in site.data.faqs %}
        <div>
            <button class="expandButton flex justify-between w-full bg-gold border-dark border-1 px-8 py-4" data-target-button="{{forloop.index}}"><h3 class="text-left text-dark">Q. {{item.question}}</h3><span class="text-2xl">+</span></button>
            <div class="expandable hidden" data-target-more="{{forloop.index}}"><p class="text-dark bg-gold p-8">A. {{item.answer}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

