<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grant Bentley</title>
    <link rel="stylesheet" href="/assets/css/style.css">

    <!---------Google Fonts Roboto 400 500 700 900 ------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-------- Adobe Fonts  ----------->
    <!---Proxima Nova 400 700-->
    <link rel="stylesheet" href="https://use.typekit.net/evu4cwc.css">
    <!--- Sofia pro 400 700 -->
    <link rel="stylesheet" href="https://use.typekit.net/evu4cwc.css">

     <!-------jQuery------>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />



   
</head>


<body>
    <header style="background-image:url({{page.banner-image}}); background-position:{{page.banner-position}}" class="bg-dark bg-blend-overlay p-5p min-h-100 bg-cover">
        <div class="flex justify-between items-center">
            <nav>
                <a href="/index.html" class="text-gold text-6xl hover:text-white">Logo</a>
            </nav>
            <nav class="text-white flex space-x-12">
                <a href="/about.html" class="hover:text-gold hover:font-bold">About</a>
                <a href="/gallery.html" class="hover:text-gold hover:font-bold">Gallery</a>
                <a href="/menus.html" class="hover:text-gold hover:font-bold">Menus</a>
                <a href="/contact.html" class="hover:text-gold hover:font-bold">Contact</a>
            </nav>
        </div>
    </header>

    {{content}}

    <footer class="text-gold bg-dark ">
        <div class="grid grid-cols-3 p-5p">
            <div><a href="/index.html" class="text-6xl hover:text-white hover:font-bold">LOGO</a></div>
            <div></div>
            <div class="text-right">
                <ul>
                    <li><a href="/about.html" class="hover:text-white hover:font-bold">About</a></li>
                    <li></li><a href="/menus.html" class="hover:text-white hover:font-bold">Menus</a></li>
                    <li></li><a href="/gallery.html" class="hover:text-white hover:font-bold">Gallery</a></li>
                    <li></li><a href="/contact.html" class="hover:text-white hover:font-bold">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="bg-gold min-h-[2rem]"></div>
    </footer>

     <!-- ---- My own JavaScript ----->


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="/main.js"></script>
      
</body>
</html>