<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>


<body>
    <header style="background-image:url({{page.banner-image}}); background-position:{{page.banner-position}}" class="bg-black p-5p min-h-100 bg-cover">
        <div class="flex justify-between">
            <nav>
                <a href="/index.html" class="text-gold">Logo</a>
            </nav>
            <nav class="text-white">
                <a href="/about.html" >About</a>
                <a href="/gallery.html">Gallery</a>
                <a href="/menus.html">Menus</a>
                <a href="/contact.html">Contact</a>
            </nav>
        </div>
    </header>

    {{content}}

    <footer class="text-gold p-5p">
        <div class="grid grid-cols-3">
            <div><a href="#">LOGO</a></div>
            <div></div>
            <div>
                <a href="#">About</a>
                <a href="#">Menus</a>
                <a href="#">Gallery</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div></div>
    </footer>
</body>
</html>